
body {
    background-color: black;
    margin: 0px;
  }
  
  .wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
        
  .section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-2px) scale(2);
    background-size: 100%;
    z-index: -1;
  }
  
  .parallax {
    color: white;
    height: 100vh;
  }
  
  .static {
    border-top-style: solid;
    color: #12171A;
  }
  
  .static-background {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 1em 0 5em 0;
  }
  
  .bg1::after {
    background-image: url('/res/jpg/Portraits-TokyoDrift@TheStormFactoryNL_24.JPG');
    background-size: cover;
  }
  
  .bg2::after {
    background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_19.jpg');
    background-size: cover;
  }
  
  .bg3::after {
    background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_15.jpg');
    background-size: cover;
  }
  
  
  .photo-overlay {
      padding: 2em;
      background-color: black;
      opacity: 70%;
  }
  
  .photo-overlay h1 {
    text-align: center;
  }
  
  .main-content-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-image-slice: 160 0 206 0;
    border-image-width: 40px 0px 40px 0px;
    border-image-repeat: stretch stretch;
    border-image-outset: 36px 0px 39px 0px;
    border-image-source:url('/res/png/about1.png')
  }

  .main-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-image-slice: 213 27 218 27;
    border-image-width: 40px 0px 40px 0px;
    border-image-repeat: stretch stretch;
    border-image-outset: 36px 0px 40px 0px;
    border-image-source:url('/res/png/about2.png')
  }

  .main-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-image-slice: 191 27 0 27;
    border-image-width: 40px 0px 40px 0px;
    border-image-repeat: stretch stretch;
    border-image-outset: 36px 0px 40px 0px;
    border-image-source:url('/res/png/about3.png');
    height: 100vh;
  }

  .static-background p {
      width: 50vw;
      margin: 0 auto;
  }

  .static-background h2 {
      margin-top: 4em;
      width: 50vw;
      margin: 1em auto;
  }

  .static-background img {
    color: #BC7987;
    margin: 2em auto;
    width: 20vw;
    display: block;
  }

  blockquote {
      font-size: 2.7rem;
      font-style: italic;
      margin-top: 2em;
  }

  .quote-author {
      font-style: italic;
      width: 50vw;
  }


    
  
  /* mobile */
  @media (max-width: 711px) {
    .wrapper {
      perspective: none;
    }
    .static {
      z-index: 2;
      position: relative;
      width: 100%;
    }
  
    .parallax {
      height: 40vh;
    }
    
    .parallax::after {
      transform: translateZ(0px) scale(1);
    }
  
    .static {
      height: min-content;
    }
  
    .static-background {
      flex-direction: column;
      width: 100vw;
    }
  
    .illustrations-left , .illustrations-right {
      margin: 1em auto;
    }
  
    .info-section-background {
      width: 70vw;
      padding: 1em 2em;
    }
  
    .main-content-1 {
      border-image-outset: 36px 0px 36px 0px;
    }
  
    .main-content-2 {
      border-image-outset: 36px 0px 37px 0px;
    }
    
    .main-content-3, .main-content-2 {
      height: min-content;
    }

    .story-right, .story-left{
        margin: 0 2em 2em 2em;
    }

    .main-content-1 .static-background h2 {
        margin-top: 2em;
    }
  
    blockquote {
        font-size: 1.5rem;
        font-style: italic;
        margin-top: 2em;
    }

    .main-content-2 .static-background, .main-content-3 .static-background {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  }
  
  