
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
      
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-2px) scale(2);
  background-size: 100%;
  z-index: -1;
}

.static {
  border-top-style: solid;
}

.static-background {
  background-color: #BC7987;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg1::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_12.jpg');
  background-size: cover;
}

.bg2::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_19.jpg');
  background-size: cover;
}

.bg3::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_15.jpg');
  background-size: cover;
}


.photo-overlay {
    padding: 2em;
    background-color: black;
    opacity: 70%;
}

.main-content-1 {
  border-image-slice: 160 0 206 0;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index1.png')
}

.main-content-2 {
  border-image-slice: 213 27 218 27;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index2.png')}

.main-content-3 {
  border-image-slice: 191 27 0 27;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index3.png');
  height: 20vh;
}

  

/* mobile */
@media (max-width: 711px) {
  .wrapper {
    perspective: none;
  }
  .static {
    z-index: 2;
    position: relative;
    width: 100%;
  }

  .parallax {
    height: 40vh;
  }
  
  .parallax::after {
    transform: translateZ(0px) scale(1);
  }

  .static {
    height: 80vh;
  }
  
  .main-content-3 {
    height: 10vh;
  }

}

