
body {
  background-color: black;
  margin: 0px;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
      
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-2px) scale(2);
  background-size: 100%;
  z-index: -1;
}

.parallax {
  color: white;
}

.static {
  border-top-style: solid;
  color: #12171A;
}

.static-background {
  background-color: #BC7987;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.illustrations-right {
  width: 30vw;
  margin: auto 0 auto auto;
}

.illustrations-left {
  width: 30vw;
  margin: auto auto auto 0;
}

.infoleft {
  border-style: solid;
  margin: auto 5vw auto 0;
  border-image-slice: 60 300 27 0;
  border-image-width: 12px 47px 15px 0;
  border-image-outset: 9px 45px 12px 0;
  border-image-repeat: stretch stretch;
  border-image-source:url('/res/png/textsection-left.png');
}

.inforight {
  border-style: solid;
  margin: auto 0 auto 5vw;
  border-image-slice: 60 0 27 300;
  border-image-width: 12px 0 15px 47px;
  border-image-outset: 9px 0 12px 35px;
  border-image-repeat: stretch stretch;
  border-image-source:url('/res/png/textsection-right.png');
}

.info-section-background {
  padding: 1em;
  width: 50vw;
  background-color: #12171A;
  color: white;
}


.bg1::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_12.jpg');
  background-size: cover;
}

.bg2::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_19.jpg');
  background-size: cover;
}

.bg3::after {
  background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_15.jpg');
  background-size: cover;
}


.photo-overlay {
    padding: 2em;
    background-color: black;
    opacity: 70%;
}

.photo-overlay h1 {
  text-align: center;
}

.main-content-1 {
  border-image-slice: 160 0 206 0;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index1.png')
}

.main-content-2 {
  border-image-slice: 213 27 218 27;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index2.png')}

.main-content-3 {
  border-image-slice: 191 27 0 27;
  border-image-width: 40px 0px 40px 0px;
  border-image-repeat: stretch stretch;
  border-image-outset: 36px 0px 40px 0px;
  border-image-source:url('/res/png/index3.png');
  height: 20vh;
}

  

/* mobile */
@media (max-width: 711px) {
  .wrapper {
    perspective: none;
  }
  .static {
    z-index: 2;
    position: relative;
    width: 100%;
  }

  .parallax {
    height: 40vh;
  }
  
  .parallax::after {
    transform: translateZ(0px) scale(1);
  }

  .static {
    height: min-content;
  }

  .static-background {
    flex-direction: column;
    width: 100vw;
  }

   .infoleft{
    margin: 2em 0;
    border-image-width: 12px 35px 12px 0;
    border-image-outset: 8px 25px 8px 0;
  }

  .inforight {
    margin: 2em 0 2em auto;
    border-image-width: 12px 0 10px 47px;
    border-image-outset: 9px 0 7px 25px;
  }

  .illustrations-left , .illustrations-right {
    margin: 1em auto;
  }

  .info-section-background {
    width: 70vw;
    padding: 1em 2em;
  }

  .main-content-1 {
    border-image-outset: 36px 0px 36px 0px;
  }

  .main-content-2 {
    border-image-outset: 36px 0px 37px 0px;
  }
  
  .main-content-3 {
    height: 10vh;
  }

}

